  menupopup,
  panel {
    &::part(content) {
      display: flex !important;
      box-sizing: border-box !important;
      padding: 6px !important;
      color: var(--panel-color) !important;
      border-radius: 15px !important;
      border: 2px solid
        color-mix(in hsl, var(--panel-border-color), transparent 70%) !important;
      width: var(--panel-width) !important;
      box-shadow: var(--panel-shadow) !important;
      margin: var(--panel-shadow-margin) !important;
      min-width: 0 !important;
      min-height: 0 !important;
      max-height: round(
        up,
        100% - 2 * var(--panel-shadow-margin),
        1px
      ) !important;
      max-width: round(
        up,
        100% - 2 * var(--panel-shadow-margin),
        1px
      ) !important;
      overflow: clip !important;
      scrollbar-color: transparent !important;
    }
  }
